<div class="register" >
  <mat-card >
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

      <mat-card-content>
        <form >
        <mat-form-field >
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field >
          <input matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field >
          <input matInput placeholder="Password">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Choose role</mat-label>
          <mat-select>
            <mat-option [value]="user" *ngFor="let user of User">{{user}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </form>

      </mat-card-content>

      <button mat-raised-button color="primary" >Register</button>


  </mat-card>
</div>
