<div class="exercise-page-container">

<div>
  <mat-card>
    <mat-card-content>

      <ion-icon name="barbell" ></ion-icon>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>

      <ion-icon name="accessibility-outline"></ion-icon>
    </mat-card-content>
  </mat-card>
</div>
  <div>
  <mat-card>
    <mat-card-content>

      <ion-icon name="bicycle-outline"></ion-icon>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>

      <ion-icon name="american-football"></ion-icon>
    </mat-card-content>
  </mat-card>
  </div>
  <div>
  <mat-card>
    <mat-card-content>

      <ion-icon name="fitness"></ion-icon>
    </mat-card-content>
  </mat-card>
    <mat-card>
      <mat-card-content>

        <ion-icon name="footsteps"></ion-icon>
      </mat-card-content>
    </mat-card>
  </div>



</div>
