<div class="exercise-page-container">

<div>
  <mat-card>
    <mat-card-content>

      <ion-icon name="barbell" routerLink="/add-exercise" (click)="typeInfo(1)"></ion-icon>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>

      <ion-icon name="accessibility-outline" routerLink="/add-exercise" (click)="typeInfo(2)"></ion-icon>
    </mat-card-content>
  </mat-card>
</div>
  <div>
  <mat-card>
    <mat-card-content>

      <ion-icon name="bicycle-outline" routerLink="/add-exercise" (click)="typeInfo(3)"></ion-icon>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>

      <ion-icon name="american-football" routerLink="/add-exercise" (click)="typeInfo(4)"></ion-icon>
    </mat-card-content>
  </mat-card>
  </div>
  <div>
  <mat-card>
    <mat-card-content>

      <ion-icon name="fitness" routerLink="/add-exercise" (click)="typeInfo(5)"></ion-icon>
    </mat-card-content>
  </mat-card>
    <mat-card>
      <mat-card-content>

        <ion-icon name="footsteps" routerLink="/add-exercise" (click)="typeInfo(6)"></ion-icon>
      </mat-card-content>
    </mat-card>
  </div>



</div>
