<div class="start-page-container">
  <mat-card *ngIf="!isLoggedIn">
    <mat-card-content >

        <h2>Start</h2>
        <p><button mat-raised-button color="primary" routerLink="/signin" >Login</button></p>

      <button mat-raised-button color="primary" routerLink="/register">Register</button>


    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="isLoggedIn">

    <mat-card-content>
      <table mat-table [dataSource]="exercise" class="mat-elevation-z8 demo-table">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="numberOfSeries">
          <th mat-header-cell *matHeaderCellDef> Number of Series </th>
          <td mat-cell *matCellDef="let element"> {{element.numberOfSeries}} </td>
        </ng-container>
        <ng-container matColumnDef="theNumberOfRepetitions">
          <th mat-header-cell *matHeaderCellDef> Number of Repitision </th>
          <td mat-cell *matCellDef="let element"> {{element.theNumberOfRepetitions}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>

  </mat-card>
</div>


